<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.example.android.armaturekeyboard">
    <uses-sdk android:minSdkVersion="10" />
    <application android:label="@string/ime_name"
        		 android:theme="@style/CodeFont">
        <service android:name="com.example.android.softkeyboard.SoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
            
        </service>
    </application>
</manifest>

